[Match]
Name=ens6

[Network]
DHCP=yes
DNSDefaultRoute=yes

[DHCPv4]
UseHostname=no
UseDNS=yes
UseNTP=yes
UseDomains=yes

[DHCPv6]
UseHostname=no
UseDNS=yes
UseNTP=yes
WithoutRA=solicit

[Route]
Gateway=_ipv6ra
Table=100

[RoutingPolicyRule]
IncomingInterface=ens6
From=::/0
Table=100